[submodule "contracts"]
path = contracts
url = https://github.com/matter-labs/era-contracts.git

[submodule "era-contracts-lambda"]
path = era-contracts-lambda
url = https://github.com/lambdaclass/era-contracts.git
branch = validium_mode_pubdata_0
